################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Mastermind/.vs/Mastermind/v15/.suo
